@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.about {
  background: $white;

  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-10;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-10;

    @include lg {
      grid-template-columns: 1fr 1fr;
      gap: $spacing-12;
      align-items: center;
    }
  }

  &__content-text {
    @include flex-column;
    gap: $spacing-6;
  }

  &__image {
    position: relative;
    border-radius: $radius-lg;
    overflow: hidden;
    box-shadow: $shadow-lg;
    aspect-ratio: 4/3;
    // Removed margin-bottom or extra spacing to fix "white space under image"
    display: flex; // Removes inline-block gap

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; // Removes inline-block gap
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-6;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    // Removed the lg override that forced 1 column
  }

  &__card {
    @include card-glass;
    background: $light-gray;
    padding: $spacing-6;
    border: 1px solid $medium-gray;

    &:hover {
      background: $white;
      border-color: $primary-color;
    }
  }

  &__card-icon {
    font-size: $font-size-4xl;
    margin-bottom: $spacing-4;
  }

  &__card-title {
    font-family: $font-heading;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $text-primary;
    margin-bottom: $spacing-2;
  }

  &__card-text {
    font-size: $font-size-sm;
    color: $text-secondary;
    line-height: $line-height-relaxed;
  }
}
