@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.services {
  background: $light-gray;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-6;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    position: relative;
    background: $white;
    padding: $spacing-8;
    border-radius: $radius-lg;
    box-shadow: $shadow-sm;
    overflow: hidden;
    transition: box-shadow $transition-base;

    &:hover {
      box-shadow: $shadow-xl;

      .services__card-line {
        width: 100%;
      }

      .services__card-icon {
        transform: scale(1.1);
      }
    }
  }

  &__card-icon {
    font-size: 3rem;
    margin-bottom: $spacing-4;
    transition: transform $transition-base;
  }

  &__card-title {
    font-family: $font-heading;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $text-primary;
    margin-bottom: $spacing-3;
  }

  &__card-description {
    font-size: $font-size-sm;
    color: $text-secondary;
    line-height: $line-height-relaxed;
  }

  &__card-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: $primary-gradient;
    transition: width $transition-base;
  }
}
