@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.stats {
  background: $primary-gradient;
  padding: $spacing-16 0;

  @include md {
    padding: $spacing-20 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-8;

    @include md {
      grid-template-columns: repeat(4, 1fr);
      gap: $spacing-6;
    }
  }

  &__item {
    text-align: center;
    padding: $spacing-4;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 60%;
      background: rgba(255, 255, 255, 0.2);
    }

    &:last-child::after,
    &:nth-child(2)::after {
      @media (max-width: 767px) {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }
  }

  &__value {
    font-family: $font-heading;
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    color: $white;
    line-height: 1;
    margin-bottom: $spacing-2;

    @include md {
      font-size: $font-size-5xl;
    }
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 1px;

    @include md {
      font-size: $font-size-base;
    }
  }
}
