@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.footer {
  background: $anthracite;
  color: $white;
  padding-top: $spacing-16;

  &__container {
    @include container;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-10;
    padding-bottom: $spacing-12;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: 1.5fr 1fr 1.5fr;
    }

    // Align last column (contact) to the right
    > *:last-child {
      @include lg {
        text-align: right;
        align-items: flex-end;
      }
    }
  }

  // Brand Column
  &__brand {
    @include flex-column;
    gap: $spacing-4;
  }

  &__logo {
    @include flex-center;
    gap: $spacing-3;
    text-decoration: none;
    width: fit-content;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border-radius: $radius-md;
    }

    span {
      font-family: $font-heading;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $white;
    }
  }

  &__description {
    font-size: $font-size-sm;
    color: rgba(255, 255, 255, 0.7);
    line-height: $line-height-relaxed;
    max-width: 300px;
  }

  &__social {
    @include flex-center;
    gap: $spacing-3;
    margin-top: $spacing-2;
    justify-content: flex-start;
  }

  &__social-link {
    @include flex-center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: $radius-md;
    font-size: $font-size-lg;
    transition: all $transition-fast;

    &:hover {
      background: $primary-color;
      transform: translateY(-3px);
    }
  }

  // Columns
  &__column {
    @include flex-column;
    gap: $spacing-4;
  }

  &__title {
    font-family: $font-heading;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $white;
    margin-bottom: $spacing-2;
  }

  &__links {
    list-style: none;
    @include flex-column;
    gap: $spacing-3;

    a {
      font-size: $font-size-sm;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      transition: color $transition-fast;

      &:hover {
        color: $primary-light;
      }
    }
  }

  &__contact {
    list-style: none;
    @include flex-column;
    gap: $spacing-3;

    li {
      @include flex-start;
      gap: $spacing-3;
      font-size: $font-size-sm;
      color: rgba(255, 255, 255, 0.7);

      @include lg {
        justify-content: flex-end;
      }
    }

    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      transition: color $transition-fast;

      &:hover {
        color: $primary-light;
      }
    }
  }

  &__contact-icon {
    font-size: $font-size-base;
  }

  // Bottom
  &__bottom {
    padding: $spacing-6 0;
    text-align: center;

    p {
      font-size: $font-size-sm;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
