@use '../assets/scss/variables' as *;
@use '../assets/scss/mixins' as *;

.project-detail {
  padding-top: 120px;
  padding-bottom: $spacing-8;

  &__container {
    max-width: 1000px;
  }

  &__back-btn {
    display: inline-flex;
    align-items: center;
    gap: $spacing-2;
    color: $text-secondary;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-6;
    transition: color $transition-fast;

    &:hover {
      color: $primary-color;
    }
  }

  &__content {
    background: white;
    border-radius: $radius-lg;
    box-shadow: $shadow-lg;
    overflow: hidden;
  }

  &__image-wrapper {
    width: 100%;
    height: 300px;
    @include md {
      height: 450px;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: $spacing-6;
    @include md {
      padding: $spacing-8;
    }
  }

  &__header {
    margin-bottom: $spacing-6;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $spacing-4;
  }

  &__title {
    font-family: $font-heading;
    font-size: $font-size-3xl;
    color: $text-primary;
    margin-bottom: $spacing-2;
  }

  &__meta {
    display: flex;
    gap: $spacing-6;
    color: $text-secondary;
    font-size: $font-size-sm;
  }

  &__meta-item {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }

  &__body {
    color: $text-secondary;
    line-height: 1.8;

    h3 {
      color: $text-primary;
      font-size: $font-size-xl;
      margin: $spacing-6 0 $spacing-3;
    }
    
    p {
      margin-bottom: $spacing-4;
    }
    
    ul {
      list-style-type: disc;
      padding-left: $spacing-5;
      margin-bottom: $spacing-4;
    }
  }
}
