name: Frontend App Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/tr_construction
            git pull origin main
            docker stop tr_construction_app || true
            docker rm tr_construction_app || true
            docker build -t tr-frontend-image .
            docker run -d --name tr_construction_app -p 80:4173 tr-frontend-image
            docker image prune -f