@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-8;
  width: 100%;

  &--full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 9999; // Ensure it's above header (z-sticky: 200) and everything else
    padding: 0;
  }
}

.spinner {
  position: relative;
  
  &--sm { width: 30px; height: 30px; }
  &--md { width: 50px; height: 50px; }
  &--lg { width: 80px; height: 80px; }

  &__circle {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: spinner-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-top-color: $primary-color;

    &::before {
      content: "";
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid rgba($primary-color, 0.1);
      border-radius: 50%;
    }
  }
}

@keyframes spinner-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
