@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.loader {
  @include flex-center;
  padding: $spacing-4;

  &--sm {
    .loader__spinner {
      width: 24px;
      height: 24px;
    }
  }

  &--md {
    .loader__spinner {
      width: 40px;
      height: 40px;
    }
  }

  &--lg {
    .loader__spinner {
      width: 60px;
      height: 60px;
    }
  }

  &--light {
    .loader__ring {
      border-color: rgba(255, 255, 255, 0.2);
      border-top-color: $white;
    }
  }

  &__spinner {
    position: relative;
  }

  &__ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid rgba($primary-color, 0.2);
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
      width: 75%;
      height: 75%;
      top: 12.5%;
      left: 12.5%;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
      width: 50%;
      height: 50%;
      top: 25%;
      left: 25%;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
